@charset "windows-1251";
/* CSS Document */
.arial, H1, H2, H3, H4, H5, H6, .arial td {font-family: Arial, Helvetica, sans-serif;}
.arialEncrised {font-size: 110%;font-family: Arial, Helvetica, sans-serif;}
.Cambria { font-family:Cambria, "Book Antiqua", "Bookman Old Style", Garamond; }
.txtInl { display:inline; }
.txt60 { font-size: 60%; }
.txt70 { font-size: 70%; }
.txt80 { font-size: 80%; }
.txt90 { font-size: 90%; }
.txt100 { font-size: 100%; }
.txt110 { font-size: 110%; }
.txt120 { font-size: 120%; }
.txt130 { font-size: 130%; }
.txt140 { font-size: 140%; }
.txt150 { font-size: 150%; }
.txt160 { font-size: 160%; }
.txt170 { font-size: 170%; }
.txtDarkBlue {
	color: #009;
}
.txtOrange {
	color:#F90;
}
.txtGreen {
	color:#360;
}
.txtGrayCCC {
	color:#CCC;
}
.txtRed {
	color:#F00;
}
.txtWhite { color:#FFF; }
